html, body {
  width: 100%;
  height: 100%;
  margin: 0; padding: 0;
  font-family: 'gotham';
  color: white;
}

.center {
  margin: auto;
  text-align: center;
}

.white-bg {
  background: #f3f3f3;
  color: #000;
}

.black-bg {
  background: #000;
  color: #f3f3f3;
}

.sfsi_widget > .norm_row.sfsi_wDiv {
  width: 180px !important;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.pt-header {
  padding-top: 100px;
  padding: 100px 10% 0 10% !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.reviews_tab.active {
  color: #000;
}

html {
  overflow-x: hidden;
}

h1 {
  margin: 0;
  font-size: 25px;
}

#content {
  background: #000;
}

.inline {
  display: inline-block;
}

.full-size {
  width: 100%;
  height: 100%;
}

/*.content-wrapper, .wrapper, .post-type-page, .post-type-page, .article-content, .article-body {
  width: 100%;
  height: 100%;
}*/

.no-margpad {
  margin: 0;
  padding: 0;
}

.no-ftz {
  font-size: 0;
}

.hdr-container {
  width: 40%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 99;
}

/* HOME */

.asides-blocks-container {
  height: 35em;
  overflow: hidden;
}

.asides-blocks-container > .row {
  height: 100%;
  overflow: hidden;
}

.asides-blocks-container > .row > .col-5 {
  overflow-x: hidden;
}

.no-style {
  list-style-type: none;
  list-style: none;
}

.rpwe-block ul{
list-style: none !important;
margin-left: 0 !important;
padding-left: 0 !important;
margin-bottom: 0;
text-align: center;
text-decoration: none;
}

.rpwe-block li{
  position: relative;
border-bottom: 1px solid #eee;
margin-bottom: 10px;
padding-bottom: 10px;
list-style-type: none;
display: inline-block;
text-align: left;
width: 300px !important;
height: 400px !important;
vertical-align: top;
margin: 0 2%;
background: rgb(30,30,30);
-webkit-box-shadow: 5px 5px 59px 0 rgba(0,0,0,0.19);
box-shadow: 5px 5px 59px 0 rgba(0,0,0,0.19);
}

.rpwe-block > .rpwe-ul a{
display: block !important;
text-decoration: none;
/*color: #E53935;*/
}

.rpwe-block > .rpwe-ul > .rpwe-li > h3{
-webkit-box-sizing: border-box;
box-sizing: border-box;
padding: 4% 8%;
display: inline-block;
}

.rpwe-block > .rpwe-ul > .rpwe-li > h3 > a{
display: inline !important;
background: none !important;
clear: none;
margin-bottom: 0 !important;
margin-top: 0 !important;
font-weight: 400;
font-size: 18px !important;
line-height: 1em;
width: 100%;
color: #f3f3f3;
}

.rpwe-li > .rpwe-img {
    width: 300px;
    height: 230px;
}

.rpwe-img > .rpwe-thumb{
border: none !important;
box-shadow: none !important;
margin: 0px !important;
padding: 0px !important;
}

.rpwe-li > .rpwe-summary{
  padding: 4% 8%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 300;
  color: #f3f3f3;
}

.rpwe-summary a {
  text-transform: uppercase !important;
  text-decoration: none;
  color: #f3f3f3;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  position: absolute;
  bottom: 20px; right: 0; left: 0;
  margin: auto;
}

.rpwe-time{
color: #bbb;
font-size: 11px;
}

.rpwe-comment{
color: #bbb;
font-size: 11px;
padding-left: 5px;
}

.rpwe-alignleft{
display: inline;
float: left;
}

.rpwe-alignright{
display: inline;
float: right;
}

.rpwe-aligncenter{
display: block;
margin-left: auto;
margin-right: auto;
}

.rpwe-clearfix:before,
.rpwe-clearfix:after{
content: "";
display: table !important;
}

.rpwe-clearfix:after{
clear: both;
}

.rpwe-clearfix{
zoom: 1;
}

.give-form-wrap.give-display-onpage {
  font-size: 14px;
}

.give-total-wrap {
  text-align: center;
  margin: auto;
  width: 175px;
}

#give-donation-level-button-wrap {
  width: 360px;
  margin: auto !important;
  text-align: center;
}

#give-donation-level-button-wrap > li {
  width: 100px;
  padding: 5px 10px;
  margin: 0 !important;
}

#give-donation-level-button-wrap > li > button {
  width: 100%;
}

#give-donation-level-button-wrap > li > button.give-btn-level-custom {
  width: 220%;
}

#give-form-222 {
  text-align: center;
}

#give-recurring-form, form.give-form, form[id*=give-form] {
    margin: 0 !important;
}

/* END HOME */

h1.hdr-logo {
  margin: 0;
}

h1.hdr-logo > a {
  margin: 0;
  font-size: 32px;
  color: white;
  text-decoration: none;
}

header.header {
  height: 80px;
  background: transparent;
  transition: all 0.5s ease;
}

header.header-bgc-black {
    background-color: black;
}

nav.nav-main {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav.nav-main > ul.nav-list {
  text-align: center;
  padding: 0;
  margin: 20px auto;
  width: 100%;
  vertical-align: middle;

}

nav.nav-main > ul.nav-list > li.nav-item {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 0 3%;
  vertical-align: middle;
}

nav.nav-main > ul.nav-list > li.nav-item > a {
  color: white;
  text-decoration: none;
  text-align: center;
  /*text-transform: uppercase;*/
  font-style: bold;
  margin-top: -10px;
}

.cover-image-container {
  position: relative;
  top: 0; left: 0;
  margin: 0; padding: 0;
  overflow: hidden;
}

.cover-image-container > img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

/* NEWS */
.huge_it_slideshow_image_wrap_2 {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.huge_it_slideshow_image_wrap1_2 {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: relative;
}

.huge_it_slide_bg_2 li img {
  height: auto;
}

.huge_it_slideshow_dots_container_2 > .huge_it_slideshow_dots_thumbnails_2 {
  bottom: 0; top: auto !important;
  top: 1 !important;
  width: 100% !important;
  height: 100px !important;
}

.huge_it_slideshow_dots_thumbnails_2 > .huge_it_slideshow_dots_2 {
  border: 1px black;
}

.huge_it_slideshow_image_1 {
    width: auto !important;
    height: auto !important;
    max-width: 500% !important;
    min-width: 100%;
    max-height: 500% !important;
    min-height: 100%;
  }

/* END NEWS */
/*EMPIRE*/

.empire-list {
  padding: 0 10%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.empire-list > .empire-item {
  margin: auto;
  text-align: center;
  list-style-type: none;
  height: 40% !important;
  margin-bottom: 30px;
  padding: 0 5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.empire-item h3 {
  font-size: 20px;
  text-align: left;
}

.empire-item h4 {
  font-size: 16px;
  text-align: left;
}

.empire-item > a > img {
  max-width: 100%;
}

.empire-main {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.empire-main > h3.floated_title {
  position: absolute;
  bottom: 270px;
  font-size: 60px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.empire-main > a {
  text-align: center;
}

/* END*/
.panier {
  padding-top: 100px;
}
